* {
    margin: 0;
    border: 0;
    font: Helvetica, Arial, sans-serif;
    
}

body{
    background-image: url("forecast_medium_size.jpg");
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
   
}


div{
    height: 300px;
    width: 50%;
   
    margin-top: 25vh;
    margin-left: 55vh;
   
    border: rgb(24, 0, 21) 1px solid;
    background-color: rgb(76, 1, 59);
    opacity: 0.85;
    border-radius: 20px;

    position: relative;

}

label{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    font-size: medium;

}

input{
    top: 20px;
    left: 140px;
    padding: 5px;
    background-color: rgb(251, 219, 243);
    color: rgb(24, 0, 21);
    position: absolute; 
    font-size: medium;
}




